<form action="/receive_attack" method="post">
<input type="submit" value="Attack!">
</form>

<p class='turn'>
<p>   <%= $game.player2.name %> points are now : <%= $game.player2.hp %> </p>
<p> <%= @current_turn %>'s turn now </p>
</p>

<p class='attack'>
<%= @player_1_name %> (P1) attacked <%= @player_2_name %> (P2)!
</p>
<p class='receive_attack'>
<p>   <%= $game.player2.name %> points are now : <%= $game.player2.hp %> </p>
</p>
