<!-- # <%= p params[:Name] %> -->
<h1> <%= @player_1_name %> vs. <%= @player_2_name %>  </h1>
<h2 class='P2HP'> <%= @player_2_name %> HPs: <%= @player_2_HP %></h2>

<form action="/play" method="get">
<input type="submit" value="Attack!">
</form>


<p class='attack'>
<%= @player_1_name %> (P1) attacked <%= @player_2_name %> (P2)!
</p>


<!-- <button typ="button"> Attack!</button> -->
